

/* ------------------------------------------------------
* Primary background colors
--------------------------------------------------------- */
$primary-bg: #2e7d32;
$primary-bg-light: #60ad5e;
$primary-bg-dark: #005005;

/* ------------------------------------------------------
* Secondary background colors
--------------------------------------------------------- */
$secondary-bg: #c8e6c9;
$secondary-bg-light: #fbfffc;
$secondary-bg-dark: #97b498;

/* ------------------------------------------------------
* Text colors
--------------------------------------------------------- */
$light-color: #fff;
$dark-color: #000;
