// ------------------------------------------------------
// Background colors
// ------------------------------------------------------
$primary-bg:      #6e50a3;
$primary-bg-light:#9e7dd5;
$primary-bg-dark: #3f2674;

$secondary-bg:      #a1ffc8;
$secondary-bg-light:#d5fffb;
$secondary-bg-dark: #6fcb97;

$white:     #fff;
$light-grey:#f6f9fc;
$black:     #000;

// ------------------------------------------------------
// Text colors
// ------------------------------------------------------
$light-color: $white;
$dark-color:  $black;

// ------------------------------------------------------
// Font
// ------------------------------------------------------

$font-family-main: Arial, sans-serif;

$weight-bold:			600;
$weight-regular:	400;
$weight-light:    300;
$weight-thin:     200;

$font-size-32:  2rem;
$font-size-30:  1.875rem;
$font-size-24:  1.5rem;
$font-size-22:  1.375rem;
$font-size-20:  1.25rem;
$font-size-18:  1.125rem;
$font-size-17:  1.0625rem;
$font-size-16:  1rem;
$font-size-15:  0.9375rem;
$font-size-14:  0.875rem;
$font-size-12:  0.75rem;
$font-size-11:  0.6875rem;
$font-size-10:  0.625rem;


// ------------------------------------------------------
// Layout
// ------------------------------------------------------


// ------------------------------------------------------
// Constants
// ------------------------------------------------------
