body {
	height: 100vh;
}

* {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.primary-color {
	background-color: #2e7d32;
	color: #fff;
}

.primary-color-light {
	background-color: #60ad5e;
	color: #000;
}

.primary-color-dark {
	background-color: #005005;
	color: #fff;
}

.secondary-color {
	background-color: #c8e6c9;
	color: #000;
}

.secondary-color-light {
	background-color: #fbfffc;
	color: #000;
}

.secondary-color-dark {
	background-color: #97b498;
	color: #000;
}
